.svg-Behance-dims { width: 32px; height: 32px; }
 .svg-Dribbble-dims { width: 32px; height: 32px; }
 .svg-Facebook-dims { width: 32px; height: 32px; }
 .svg-Linkedin-dims { width: 32px; height: 32px; }
 .svg-Snapchat-dims { width: 32px; height: 32px; }
 .svg-pintrest-dims { width: 28px; height: 28px; }