.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba($color: #000000, $alpha: 0.7);

    z-index: 105;

    &--active{
        display: block; 
    }
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    flex-direction: column;    
    column-gap: 65px;
    row-gap: 25px;
    width: 95%;  
    max-height: 80%;
    overflow: auto;
    padding: 66px 21px 45px;
    background-color: #fff;

    transform: translate(-50%, -50%);

    z-index: 110;

    @include respond-to("md") {
        width: 80%;     
        padding: 75px 65px 80px;
        flex-direction: row;
    }
    @include respond-to("xl") {
        width: 60%;        
        flex-direction: row;
    }

    &:target{
        display: flex;
        
    }

    &__info{
        width: 100%;
        @include respond-to("md") {            
            width: 50%;
        }
    }

    &__alert{
        width: 100%;
        text-align: center;
    }

    .title{
        font-family: ZonaPro, sans-serif;
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 12px;
        @include respond-to("md") {            
            font-size: 52px;
            margin-bottom: 25px;
        }
        
    }

    &__close-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 32px;
        height: 32px;
      }
      &__close-btn:hover {
        opacity: 1;
      }
      &__close-btn:before, &__close-btn:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 4px;
        background-color: #000;
      }
      &__close-btn:before {
        transform: rotate(45deg);
      }
      &__close-btn:after {
        transform: rotate(-45deg);
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond-to("md") {            
            flex-direction: row;
        }
        a{
            margin: 7px 8px ;
        }
      }
}