.nav-toggle__icon {
    width: 34px;
    height: 29px;
    position: relative;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-toggle__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .nav-toggle__icon span:nth-child(1) {
    top: 0px;
  }
  
  .nav-toggle__icon span:nth-child(2) {
    top: 13px;
  }
  
  .nav-toggle__icon span:nth-child(3) {
    top: 25px;
  }
  
  .nav-toggle__icon.open span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .nav-toggle__icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .nav-toggle__icon.open span:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .nav-toggle{
   z-index: 11;
    // &__icon{
    //   margin-left: 30px;
    // }
    @include respond-to('xl') {
      display: none;
  }
  }

  .nav{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-grow: 2;
    display: flex;
    align-items:center;    
    transition: all 0.3s linear;
    transform: translateX(-100%);
    // @include respond-to('sm') {
    //     visibility: hidden;
    // }
    @include respond-to('xl') {
        justify-content: end;
        visibility: visible;
        position: relative;
        transform: translateX(0);        
    }

    .menu{
      font-family: ZonaPro, sans-serif;
      font-weight: 800;
      font-size: 32px;

      &__item{
        margin-bottom: 40px;

        &.active{
          a{
            color: theme-color("btn-color")
          }
        }
        a{
          position: relative;
          &::before{
            position: absolute;
            content: "";
            bottom: -3px;
            left: 50%;
            transform-origin: 50% 50%;
            height: 3px;
            width: 100%;
            background-color: theme-color("btn-color");
            transform: translateX(-50%) scale(0);
            transition: transform 0.5s;
          }
          &:hover{
            &::before{
              transform: translateX(-50%) scale(1);
            }
          }
        }
      }

      @include respond-to('md') {
        font-size: 52px;
      }
      @include respond-to('xl') {
        font-family: Akrobat, sans-serif;
        font-weight: 600;
        font-size: 20px;
        &__item{
          display: inline-block;
          margin-right: 50px;
          margin-bottom: 0;
        }
      }
      
    }

    &.open{
      visibility: visible;
      background-color: rgba(255,255,255, 0.95);
      padding-left: 40px;
      z-index: 9;
      transform: translateX(0);
      @include respond-to('xl') {
        padding-left: 92px;
      }
      .menu{
        // margin-top: 90px;

        @include respond-to('xl') {
          // margin-top: 120px;
        }
        
      }
      
    }
  }