html{
    font-size: 16px;
}

body{
    font-family: Akrobat, sans-serif;
}

h1,h2{
    font-family: ZonaPro, sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    @include respond-to("md"){
        font-size: 72px;
    }
    // @include respond-to("xl"){
    //     font-size: 72px;
    // }
}

p{
    font-family: Akrobat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    @include respond-to("md"){
        font-size: 24px;
    }
}