$theme-colors: (
    "btn-color": #CE0002,
    "btn-color-hover": #FE0002,
    "btn-color-active": #A60002,
    "btn-color-disable": #F1F1F1,

    "btn-text-color": #fff,

    "bg-color-1": #FAFAFA,
    "bg-color-2": #FFEE2F,
);